<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

<title>Enigma</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1 th:inline="text">For [[$#httpServletRequest.remoteUser]]'s eyes only!</h1>
		<h4><span class="badge badge-dark">Mission</span>
			<span class="badge badge-light">Apply Spring Security to this web application</span>
		</h4>
		
	</div>
	<form th:action="@{/logout}" method="post">
		<input class="btn btn-primary" type="submit" value="Sign Out"/>
	</form>
</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>